.header-main{
    text-align: center;
}
.menu-wrapper{
    @include display-flex();
    @include justify-content(center);
    @include align-items(center);
    padding-top: 20px;
    padding-bottom: 20px;
    li{
        padding:0 15px;
        a{
            color: $color-main;
            font-weight: bold;
            font-size: 20px;
        }
    }
}
