@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Poppins:300,400,600,700");
/* line 1, ../sass/base/_base.scss */
body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

/* line 6, ../sass/base/_base.scss */
h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

/* line 9, ../sass/base/_base.scss */
p {
  font-family: "Poppins", sans-serif;
}

/* line 2, ../sass/layout/_header.scss */
.navigation {
  list-style: none;
  margin: 0;
  background: #34495E;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

/* line 15, ../sass/layout/_header.scss */
.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

/* line 22, ../sass/layout/_header.scss */
.navigation a:hover {
  background: #00b7f5;
}

@media all and (max-width: 800px) {
  /* line 27, ../sass/layout/_header.scss */
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  /* line 33, ../sass/layout/_header.scss */
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  /* line 39, ../sass/layout/_header.scss */
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  /* line 47, ../sass/layout/_header.scss */
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
/* line 1, ../sass/layout/_footer.scss */
footer {
  background-color: #34495E;
  color: white;
  display: flex;
  max-height: 126px;
  justify-content: space-between;
  padding-top: 5%;
}

/* line 11, ../sass/layout/_footer.scss */
.logo-footer {
  top: 20px;
  left: 20px;
  text-align: left;
}

/* line 16, ../sass/layout/_footer.scss */
.logo {
  width: 174px;
  height: 23px;
  padding-left: 20%;
}

/* line 22, ../sass/layout/_footer.scss */
.copyright {
  margin: 0;
}

/* line 25, ../sass/layout/_footer.scss */
.social_network {
  display: inline-flex;
  margin-top: -2%;
}
/* line 28, ../sass/layout/_footer.scss */
.social_network .social_item {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 2px solid #FFFFFF;
  position: relative;
  color: white;
}
/* line 35, ../sass/layout/_footer.scss */
.social_network .social_item .elmt {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 1, ../sass/modules/_hero-home.scss */
.flex {
  margin: 30px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  /* this */
  align-items: baseline;
}
/* line 6, ../sass/modules/_hero-home.scss */
.flex .wrapper {
  flex: 1 1 auto;
  text-align: center;
  margin: 5px;
  /* and that, will result in a 10px gap */
}

/* line 14, ../sass/modules/_hero-home.scss */
.inner-text {
  padding: 10px;
}

/* line 17, ../sass/modules/_hero-home.scss */
.lorem {
  font-size: 18px;
}

/* line 20, ../sass/modules/_hero-home.scss */
.application {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 52px;
  letter-spacing: 10px;
  line-height: 63px;
}

/* line 27, ../sass/modules/_hero-home.scss */
.here {
  margin: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: inline-block;
  border: 4px solid #FFFFFF;
}

/* line 36, ../sass/modules/_hero-home.scss */
.second-section {
  top: 10%;
  color: white;
  background-color: #2091DC;
}

/* line 41, ../sass/modules/_hero-home.scss */
#explore {
  display: inline-flex;
  position: absolute;
  bottom: 5%;
  right: 10%;
  letter-spacing: 4.44px;
  border-radius: 27.5px;
  color: white;
  text-align: end;
  border: 2px solid #FFFFFF;
  padding: 10px;
}

/* line 53, ../sass/modules/_hero-home.scss */
#first-button {
  display: inline-block;
  padding: 15px;
  border: 2px solid #2091DC;
  background-color: #2091DC;
}

/* line 59, ../sass/modules/_hero-home.scss */
.arrounded {
  border-radius: 27.5px;
}

/* line 62, ../sass/modules/_hero-home.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 65, ../sass/modules/_hero-home.scss */
.heading {
  background-color: rgba(96, 96, 96, 0.7);
}

/* line 68, ../sass/modules/_hero-home.scss */
.hero-home {
  height: 500px;
  background-image: url("../image/bg-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* line 75, ../sass/modules/_hero-home.scss */
.hero-home .hero-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(96, 96, 96, 0.7);
}
/* line 80, ../sass/modules/_hero-home.scss */
.hero-home .firstPart {
  position: absolute;
  top: 20%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  padding: 0px;
  font-size: 24px;
  letter-spacing: 3px;
}
/* line 90, ../sass/modules/_hero-home.scss */
.hero-home img {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  padding: 0px;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 800;
}
/* line 102, ../sass/modules/_hero-home.scss */
.hero-home .secondPart {
  position: absolute;
  top: 70%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  padding: 0px;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 800;
}

/*fin hero-home*/
/* line 120, ../sass/modules/_hero-home.scss */
.social_network_head {
  position: absolute;
  bottom: 5%;
  left: 5%;
  text-align: left;
  justify-content: flex-start;
  display: inline-flex;
  margin-top: -2%;
}
/* line 128, ../sass/modules/_hero-home.scss */
.social_network_head .social_item {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 2px solid #FFFFFF;
  position: relative;
  color: white;
  margin: 0 10px;
}
/* line 136, ../sass/modules/_hero-home.scss */
.social_network_head .social_item .elmt {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 1, ../sass/modules/_section-home.scss */
.first-section {
  display: inline-flex;
}
/* line 3, ../sass/modules/_section-home.scss */
.first-section .first-elem {
  margin-left: 10%;
}
/* line 6, ../sass/modules/_section-home.scss */
.first-section .title {
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: left;
  font-weight: bold;
  color: #1ABC9C;
}
/* line 13, ../sass/modules/_section-home.scss */
.first-section .inner-elem {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5%;
  text-align: left;
  font-size: 32px;
  line-height: 39px;
  font-weight: bold;
}
/* line 21, ../sass/modules/_section-home.scss */
.first-section .normal-text {
  text-align: left;
  font-size: 18px;
}

/* line 28, ../sass/modules/_section-home.scss */
.second-elem .about-step {
  display: -webkit-flex;
  display: flex;
}
/* line 30, ../sass/modules/_section-home.scss */
.second-elem .about-step .number-circle {
  margin-top: 5%;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #1ABC9C;
  position: relative;
}
/* line 37, ../sass/modules/_section-home.scss */
.second-elem .about-step .number-circle .number {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 46, ../sass/modules/_section-home.scss */
.second-elem .about-step .description-wrapper {
  text-align: left;
  margin-left: 5%;
}

/* line 1, ../sass/theme/_button.scss */
.btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 17px;
  letter-spacing: 2px;
}

/* line 11, ../sass/theme/_button.scss */
.btn-white {
  background: white;
  color: white;
}
/* line 15, ../sass/theme/_button.scss */
.btn-blue {
  border: 2px solid #2091DC;
  background-color: #2091DC;
  color: white;
}
/* line 20, ../sass/theme/_button.scss */
.btn-rounded {
  border-radius: 27px;
}
/* line 24, ../sass/theme/_button.scss */
.btn-border--blue {
  border: 1px solid #202355;
}
/* line 27, ../sass/theme/_button.scss */
.btn-border--green {
  border: 1px solid #202355;
}

/* line 2, ../sass/theme/_padding.scss */
.padding-block--sm {
  padding: 20px 0;
}
/* line 5, ../sass/theme/_padding.scss */
.padding-block--md {
  padding: 40px 0;
}
/* line 8, ../sass/theme/_padding.scss */
.padding-block--lg {
  padding: 80px 0;
}

/* line 1, ../sass/theme/_flex.scss */
.display-flex {
  display: -webkit-flex;
  display: flex;
}

/* line 6, ../sass/theme/_flex.scss */
.justify-content--center {
  justify-content: center;
}
/* line 9, ../sass/theme/_flex.scss */
.justify-content--top {
  justify-content: top;
}
/* line 12, ../sass/theme/_flex.scss */
.justify-content--bottom {
  justify-content: bottom;
}

/* line 18, ../sass/theme/_flex.scss */
.align-items--center {
  align-items: center;
}

/* line 1, ../sass/theme/_title.scss */
.main-title {
  color: white;
  font-weight: bold;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
