@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Poppins:300,400,600,700");
/* line 1, ../sass/base/_base.scss */
body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

/* line 6, ../sass/base/_base.scss */
h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

/* line 9, ../sass/base/_base.scss */
p {
  font-family: "Poppins", sans-serif;
}

/* line 1, ../sass/layout/_header.scss */
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #34495E;
  align-items: center;
}

/* line 10, ../sass/layout/_header.scss */
.navigation {
  list-style: none;
  margin: 0;
  background: #34495E;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

/* line 22, ../sass/layout/_header.scss */
.logo-header {
  align-self: flex-start;
}

/* line 26, ../sass/layout/_header.scss */
.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

/* line 33, ../sass/layout/_header.scss */
.navigation a:hover {
  background: #00b7f5;
}

@media all and (max-width: 800px) {
  /* line 38, ../sass/layout/_header.scss */
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  /* line 44, ../sass/layout/_header.scss */
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  /* line 50, ../sass/layout/_header.scss */
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  /* line 58, ../sass/layout/_header.scss */
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
/* line 1, ../sass/layout/_footer.scss */
footer {
  background-color: #34495E;
  color: white;
  display: flex;
  max-height: 126px;
  justify-content: space-between;
  padding-top: 3%;
  padding-bottom: 3%;
  align-items: baseline;
}

/* line 13, ../sass/layout/_footer.scss */
.logo-footer {
  top: 20px;
  left: 20px;
  text-align: left;
}

/* line 18, ../sass/layout/_footer.scss */
.logo {
  width: 174px;
  height: 23px;
  padding-left: 20%;
}

/* line 24, ../sass/layout/_footer.scss */
.copyright {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/* line 29, ../sass/layout/_footer.scss */
.social_network {
  display: inline-flex;
  justify-content: space-between;
}
/* line 32, ../sass/layout/_footer.scss */
.social_network .social_item {
  width: 31px;
  height: 31px;
  border-radius: 60px;
  border: 2px solid #FFFFFF;
  position: relative;
  color: white;
  margin: 0 5px;
}
/* line 40, ../sass/layout/_footer.scss */
.social_network .social_item .elmt {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 1, ../sass/layout/_dashboard.scss */
.form-style-5 {
  max-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* line 12, ../sass/layout/_dashboard.scss */
.form-style-5 fieldset {
  border: none;
}

/* line 15, ../sass/layout/_dashboard.scss */
.form-style-5 legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

/* line 19, ../sass/layout/_dashboard.scss */
.form-style-5 label {
  display: block;
  margin-bottom: 8px;
}

/* line 23, ../sass/layout/_dashboard.scss */
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

/* line 51, ../sass/layout/_dashboard.scss */
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus {
  background: #d2d9dd;
}

/* line 63, ../sass/layout/_dashboard.scss */
.form-style-5 select {
  -webkit-appearance: menulist-button;
  height: 35px;
}

/* line 67, ../sass/layout/_dashboard.scss */
.form-style-5 .number {
  background: #1abc9c;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 15px 15px 15px 0px;
}

/* line 81, ../sass/layout/_dashboard.scss */
.form-style-5 input[type="submit"],
.form-style-5 input[type="button"] {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  margin: 0 auto;
  background: #1abc9c;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

/* line 98, ../sass/layout/_dashboard.scss */
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover {
  background: #109177;
}

/* line 1, ../sass/modules/_hero-home.scss */
.home {
  text-align: center;
}

/* line 4, ../sass/modules/_hero-home.scss */
.flex {
  margin: 30px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  /* this */
  align-items: baseline;
}
/* line 9, ../sass/modules/_hero-home.scss */
.flex .wrapper {
  flex: 1 1 auto;
  text-align: center;
  margin: 5px;
  /* and that, will result in a 10px gap */
}

/* line 17, ../sass/modules/_hero-home.scss */
.inner-text {
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

/* line 22, ../sass/modules/_hero-home.scss */
.lorem {
  font-size: 18px;
}

/* line 25, ../sass/modules/_hero-home.scss */
.application {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 52px;
  letter-spacing: 10px;
  line-height: 63px;
}

/* line 32, ../sass/modules/_hero-home.scss */
.here {
  margin: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: inline-block;
  border: 4px solid #FFFFFF;
}

/* line 41, ../sass/modules/_hero-home.scss */
.second-section {
  top: 10%;
  color: white;
  background-color: #2091DC;
}

/* line 47, ../sass/modules/_hero-home.scss */
#explore_div {
  display: inline-flex;
  align-items: baseline;
  position: absolute;
  justify-content: space-between;
  bottom: 5%;
  right: 10%;
  border-radius: 27.5px;
  color: white;
  font-weight: bold;
  border: 2px solid #FFFFFF;
  padding: 0 30px;
}

/* line 63, ../sass/modules/_hero-home.scss */
#explore {
  margin: 10px 0;
  text-align: end;
  letter-spacing: 4.44px;
}

/* line 68, ../sass/modules/_hero-home.scss */
#first-button {
  display: inline-block;
  padding: 15px;
  border: 2px solid #2091DC;
  background-color: #2091DC;
}

/* line 74, ../sass/modules/_hero-home.scss */
.arrounded {
  border-radius: 27.5px;
}

/* line 77, ../sass/modules/_hero-home.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 80, ../sass/modules/_hero-home.scss */
.heading {
  background-color: rgba(96, 96, 96, 0.7);
}

/* line 83, ../sass/modules/_hero-home.scss */
.hero-home {
  height: 500px;
  background-image: url("../image/bg-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* line 90, ../sass/modules/_hero-home.scss */
.hero-home .hero-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(96, 96, 96, 0.7);
}
/* line 95, ../sass/modules/_hero-home.scss */
.hero-home .firstPart {
  position: absolute;
  top: 20%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  padding: 0px;
  font-size: 24px;
  letter-spacing: 3px;
}
/* line 105, ../sass/modules/_hero-home.scss */
.hero-home img {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  padding: 0px;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 800;
}
/* line 117, ../sass/modules/_hero-home.scss */
.hero-home .secondPart {
  position: absolute;
  top: 70%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  padding: 0px;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 800;
}

/*fin hero-home*/
/* line 135, ../sass/modules/_hero-home.scss */
.social_network_head {
  position: absolute;
  bottom: 5%;
  left: 5%;
  text-align: left;
  justify-content: flex-start;
  display: inline-flex;
  margin-top: -2%;
}
/* line 143, ../sass/modules/_hero-home.scss */
.social_network_head .social_item {
  width: 50px;
  height: 50px;
  border-radius: 60px;
  border: 2px solid #FFFFFF;
  position: relative;
  color: white;
  margin: 0 10px;
}
/* line 151, ../sass/modules/_hero-home.scss */
.social_network_head .social_item .elmt {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 1, ../sass/modules/_section-home.scss */
.first-section {
  display: inline-flex;
}
/* line 3, ../sass/modules/_section-home.scss */
.first-section .first-elem {
  margin-left: 10%;
}
/* line 6, ../sass/modules/_section-home.scss */
.first-section .title {
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: left;
  font-weight: bold;
  color: #1ABC9C;
}
/* line 13, ../sass/modules/_section-home.scss */
.first-section .inner-elem {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5%;
  text-align: left;
  font-size: 32px;
  line-height: 39px;
  font-weight: bold;
}
/* line 21, ../sass/modules/_section-home.scss */
.first-section .normal-text {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 18px;
}

/* line 29, ../sass/modules/_section-home.scss */
.second-elem .about-step {
  display: -webkit-flex;
  display: flex;
}
/* line 31, ../sass/modules/_section-home.scss */
.second-elem .about-step .number-circle {
  margin-top: 5%;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #1ABC9C;
  position: relative;
}
/* line 38, ../sass/modules/_section-home.scss */
.second-elem .about-step .number-circle .number {
  font-weight: bold;
  font-size: 32px;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 49, ../sass/modules/_section-home.scss */
.second-elem .about-step .title-desc {
  font-size: 25px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #4E4D4D;
}
/* line 55, ../sass/modules/_section-home.scss */
.second-elem .about-step .description-wrapper {
  margin-top: 10px;
  text-align: left;
  margin-left: 5%;
}

/* line 1, ../sass/theme/_button.scss */
.butn {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 17px;
  letter-spacing: 2px;
}

/* line 11, ../sass/theme/_button.scss */
.butn-white {
  background: white;
  color: white;
}
/* line 15, ../sass/theme/_button.scss */
.butn-blue {
  border: 2px solid #2091DC;
  background-color: #2091DC;
  color: white;
}
/* line 20, ../sass/theme/_button.scss */
.butn-rounded {
  border-radius: 27px;
  box-shadow: 0px 1px rgba(75, 75, 75, 0.5);
}
/* line 25, ../sass/theme/_button.scss */
.butn-border--blue {
  border: 1px solid #202355;
}
/* line 28, ../sass/theme/_button.scss */
.butn-border--green {
  border: 1px solid #202355;
}

/* line 2, ../sass/theme/_padding.scss */
.padding-block--sm {
  padding: 20px 0;
}
/* line 5, ../sass/theme/_padding.scss */
.padding-block--md {
  padding: 40px 0;
}
/* line 8, ../sass/theme/_padding.scss */
.padding-block--lg {
  padding: 80px 0;
}

/* line 1, ../sass/theme/_flex.scss */
.display-flex {
  display: -webkit-flex;
  display: flex;
}

/* line 6, ../sass/theme/_flex.scss */
.justify-content--center {
  justify-content: center;
}
/* line 9, ../sass/theme/_flex.scss */
.justify-content--top {
  justify-content: top;
}
/* line 12, ../sass/theme/_flex.scss */
.justify-content--bottom {
  justify-content: bottom;
}

/* line 18, ../sass/theme/_flex.scss */
.align-items--center {
  align-items: center;
}

/* line 1, ../sass/theme/_title.scss */
.main-title {
  color: white;
  font-weight: bold;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
