@import url('https://fonts.googleapis.com/css?family=Aleo|Roboto');

@font-face {
    font-family: "Palanquin";
    src: url('../fonts/Palanquin-Bold.ttf') format('opentype');
    font-weight:800;
}
@font-face {
    font-family: "Palanquin";
    src: url('../fonts/Palanquin-Light.ttf') format('opentype');
    font-weight:100;
}
@font-face {
    font-family: "Palanquin";
    src: url('../fonts/Palanquin-Regular.ttf') format('opentype');
    font-weight:300;
}
