// colors
$blue-dark:#353663;
$yellow:yellow;
$color-main:$blue-dark;

$anthracite:#0F0F0F;
$color-text:$anthracite;

$grey:#797979;
$color-second:$grey;

// fonts
$main-font:'Poppins', sans-serif;
$title-font:'Montserrat', sans-serif;

$palanquin-font:'Palanquin';