.grid-products{
    margin:0 40px;
    .product-thumbnail{
        height: 300px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .product-content{
        h3{
            font-size: 17px;
            font-weight: bold;
            letter-spacing: 3.4px;
            color: $color-main;
            text-transform: uppercase;
        }
        .product-price{
            font-family: $main-font;
            color: $color-second;
            font-size: 17px;
            font-weight: bold;
        }
    }
}
